<div class="contact_me" id="contact_me">

  <div class="col-md-8 offset-md-2">
    <br>
    <h1>Contact me</h1>

    <div class="text-center">
      <a target="_blank" href="mailto:emadalhamou@gmail.com">emadalhamou@gmail.com</a><br>
      <a target="_blank" href="https://www.xing.com/profile/Emad_Alhamou/portfolio">Xing</a><br>
      <a target="_blank" href="https://github.com/Alhamou">Github</a><br>
      <a target="_blank" href="https://twitter.com/emad_alhamou">Twitter</a>
    </div>




  </div>
  <br><br><br><br><br><br>
  
</div>